body{
    margin:0;
    font-family:'Segoe UI',sans-serif;
    background:#0f172a;
    color:white;
}

/* Sidebar */

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:260px;
    height:100vh;
    background:#111827;
    padding-top:20px;
}

.logo{
    text-align:center;
    font-size:24px;
    font-weight:bold;
    color:#38bdf8;
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    padding:15px 25px;
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.sidebar a:hover{
    background:#1e293b;
    border-left:4px solid #38bdf8;
}

/* Main */

.main{
    margin-left:260px;
    padding:30px;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-top:30px;
}

.card{
    background:#1e293b;
    border-radius:15px;
    padding:25px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    margin:0;
    font-size:32px;
    color:#38bdf8;
}

.chart-container{
    margin-top:30px;
    background:#1e293b;
    padding:20px;
    border-radius:15px;
}

.sidebar a{

    display:flex;
    align-items:center;
    gap:10px;

    padding:12px 15px;

    margin-bottom:8px;

    border-radius:10px;

    text-decoration:none;

    color:white;

    transition:0.3s;
}

.sidebar a:hover{

    background:#2563eb;

    transform:translateX(5px);

}

.sidebar a.active{

    background:#2563eb;

}

.light-theme{

    background:white;

    color:black;

}

.light-theme .card{

    background:#f3f4f6;

    color:black;

}

.light-theme .sidebar{

    background:#e5e7eb;

}