<!DOCTYPE html>
<html>

<head>

<title>Compliance Center</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/dashboard.css') }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="main">

<h1>Compliance Center</h1>

<br>

<div class="cards">

<div class="card">
<h4>GDPR</h4>
<h2>92%</h2>
</div>

<div class="card">
<h4>ISO 27001</h4>
<h2>95%</h2>
</div>

<div class="card">
<h4>HIPAA</h4>
<h2>88%</h2>
</div>

<div class="card">
<h4>NIST</h4>
<h2>90%</h2>
</div>

</div>

<br>

<div class="chart-container">

<canvas id="complianceChart"></canvas>

</div>

</div>

<script src="{{ url_for('static',
filename='js/compliance.js') }}"></script>

</body>

</html>